<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mpg_10_plus" params="use_three_mm_lens:=false">
  
    <!--%%%%%%%%%%%%% MPG 10-plus Base Parallel Gripper Definitions %%%%%%%%%%%%%-->
    <link
    name="Tool_Gripper_MPG_10_Body">
    <inertial>
      <origin
        xyz="-5.33378479914543E-05 4.89879018877605E-05 0.0298093199815774"
        rpy="0 0 0" />
      <mass
        value="0.018064299267735" />
      <inertia
        ixx="2.10522678277741E-06"
        ixy="2.48405263011294E-08"
        ixz="-1.67008448737427E-08"
        iyy="1.54869219778472E-06"
        iyz="-7.34159323200004E-09"
        izz="3.42066952879888E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/Tool_MPG_10_Base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/Tool_MPG_10_Base.STL" />
      </geometry>
    </collision>
  </link>

  <!---Gravity off-->
  <gazebo reference="Tool_Gripper_MPG_10_Body">
    <turnGravityOff>true</turnGravityOff>
    <color>1.0 0 0.5 1.0</color> 
  </gazebo>

  <joint name="Tool_Gripper_MPG_10_Body_Joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="PM_Robot_Tool_TCP" />
    <child link="Tool_Gripper_MPG_10_Body" />
    <axis xyz="0 0 0" />
  </joint>

  <!--%%%%%%%%%%%%% MPG 10-plus Jaw 1 Parallel Gripper Definitions %%%%%%%%%%%%%-->

    <link
    name="Tool_Gripper_MPG_10_Jaw_1">
    <inertial>
      <origin
        xyz="0.00342309885399157 0.000378376833032924 -0.00384521007824437"
        rpy="0 0 0" />
      <mass
        value="0.000125699746806344" />
      <inertia
        ixx="9.10321731673149E-10"
        ixy="1.08017429109396E-10"
        ixz="-3.94221523852005E-10"
        iyy="1.46877530343563E-09"
        iyz="1.55511351427264E-10"
        izz="8.29097865963565E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/MPG_10_Jaw_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/MPG_10_Jaw_1.STL" />
      </geometry>
    </collision>
  </link>

  <!---Gravity off-->
  <gazebo reference="Tool_Gripper_MPG_10_Jaw_1">
    <turnGravityOff>true</turnGravityOff>
  </gazebo>

  <joint
    name="pm_robot_Tool_Parallel_Joint"
    type="prismatic">
    <origin
      xyz="0.00135 -0.005 0.0125"
      rpy="0 0 1.5708" />
    <parent
      link="Tool_Gripper_MPG_10_Body" />
    <child
      link="Tool_Gripper_MPG_10_Jaw_1" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0.001"
      effort="20"
      velocity="0.05" />
  </joint>

  <link
    name="Tool_Gripper_MPG_10_Jaw_1_Point">
  </link>

  <joint
    name="Tool_Gripper_MPG_10_Jaw_1_Point_Joint"
    type="fixed">
    <origin
      xyz="0 0.0014 -0.0075"
      rpy="0 0 0" />
    <parent
      link="Tool_Gripper_MPG_10_Jaw_1" />
    <child
      link="Tool_Gripper_MPG_10_Jaw_1_Point" />
    <axis
      xyz="0 0 0" />
  </joint>


  <!--%%%%%%%%%%%%% MPG 10-plus Jaw 2 Parallel Gripper Definitions %%%%%%%%%%%%%-->
      <link
    name="Tool_Gripper_MPG_10_Jaw_2">
    <inertial>
      <origin
        xyz="0.00363289819353893 0.000378376833032925 -0.00384521007176004"
        rpy="0 0 0" />
      <mass
        value="0.000125699746806344" />
      <inertia
        ixx="9.10321731673149E-10"
        ixy="1.0801742729746E-10"
        ixz="-3.94221523852005E-10"
        iyy="1.46877530343563E-09"
        iyz="1.55511351102191E-10"
        izz="8.29097865963571E-10" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/MPG_10_Jaw_2.STL" /> 
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/MPG_10_Jaw_2.STL" /> 
      </geometry>
    </collision>
  </link>

    <gazebo reference="Tool_Gripper_MPG_10_Jaw_2">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

  <joint
    name="pm_robot_Tool_Parallel_Joint_2"
    type="prismatic">
    <origin
      xyz="-0.00135 0.005 0.0125"
      rpy="0 0 -1.5708" />
    <parent
      link="Tool_Gripper_MPG_10_Body" />
    <child
      link="Tool_Gripper_MPG_10_Jaw_2" />
    <axis
      xyz="1 0 0" />
    <limit
        lower="0"
        upper="0.001"
        effort="20"
        velocity="0.05" />
    <mimic joint="pm_robot_Tool_Parallel_Joint" />
  </joint>

  <link
    name="Tool_Gripper_MPG_10_Jaw_2_Point">
  </link>

  <joint
    name="Tool_Gripper_MPG_10_Jaw_2_Point_Joint"
    type="fixed">
    <origin
      xyz="0 0.0014 -0.0075"
      rpy="0 0 0" />
    <parent
      link="Tool_Gripper_MPG_10_Jaw_2" />
    <child
      link="Tool_Gripper_MPG_10_Jaw_2_Point" />
    <axis
      xyz="0 0 0" />
  </joint>
  

  <!--%%%%%%%%%%%%% Jaw Definitions %%%%%%%%%%%%%-->
    <xacro:property name="mpg_10_plus_jaw_define_file" value="$(find pm_robot_description)/urdf/pm_Schunk_Tools/MPG_10_plus_jaws.yaml" />
    <xacro:property name="jaw_dict" value="${xacro.load_yaml(mpg_10_plus_jaw_define_file)}"/>
    
    <!--%%%%%%%%%%%%% Default Jaw Definitions %%%%%%%%%%%%%-->
    <xacro:property name="Gripper_jaw_1_xyz" value="${jaw_dict['lens_jaw_3_mm_1']['xyz']}"/>
    <xacro:property name="Gripper_jaw_1_rpy" value="${jaw_dict['lens_jaw_3_mm_1']['rpy']}"/>
    <xacro:property name="Gripper_jaw_1_mass" value="${jaw_dict['lens_jaw_3_mm_1']['mass']}"/>
    <xacro:property name="Gripper_jaw_1_inertia_ixx" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_ixx']}"/>
    <xacro:property name="Gripper_jaw_1_inertia_ixy" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_ixy']}"/>
    <xacro:property name="Gripper_jaw_1_inertia_ixz" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_ixz']}"/>
    <xacro:property name="Gripper_jaw_1_inertia_iyy" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_iyy']}"/>
    <xacro:property name="Gripper_jaw_1_inertia_iyz" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_iyz']}"/>
    <xacro:property name="Gripper_jaw_1_inertia_izz" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_izz']}"/>
    <xacro:property name="Gripper_jaw_1_visual_filename" value="${jaw_dict['lens_jaw_3_mm_1']['visual_filename']}"/>
    <xacro:property name="Gripper_jaw_1_collision_filename" value="${jaw_dict['lens_jaw_3_mm_1']['collision_filename']}"/>

    <xacro:property name="Gripper_jaw_2_xyz" value="${jaw_dict['lens_jaw_3_mm_2']['xyz']}"/>
    <xacro:property name="Gripper_jaw_2_rpy" value="${jaw_dict['lens_jaw_3_mm_2']['rpy']}"/>
    <xacro:property name="Gripper_jaw_2_mass" value="${jaw_dict['lens_jaw_3_mm_2']['mass']}"/>
    <xacro:property name="Gripper_jaw_2_inertia_ixx" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_ixx']}"/>
    <xacro:property name="Gripper_jaw_2_inertia_ixy" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_ixy']}"/>
    <xacro:property name="Gripper_jaw_2_inertia_ixz" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_ixz']}"/>
    <xacro:property name="Gripper_jaw_2_inertia_iyy" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_iyy']}"/>
    <xacro:property name="Gripper_jaw_2_inertia_iyz" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_iyz']}"/>
    <xacro:property name="Gripper_jaw_2_inertia_izz" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_izz']}"/>
    <xacro:property name="Gripper_jaw_2_visual_filename" value="${jaw_dict['lens_jaw_3_mm_2']['visual_filename']}"/>
    <xacro:property name="Gripper_jaw_2_collision_filename" value="${jaw_dict['lens_jaw_3_mm_2']['collision_filename']}"/>

    <!--%%%%%%%%%%%%% 3MM Lens Jaw 1 Definitions %%%%%%%%%%%%%-->
    <xacro:if value="${use_three_mm_lens}">
      <xacro:property name="Gripper_jaw_1_xyz" value="${jaw_dict['lens_jaw_3_mm_1']['xyz']}"/>
      <xacro:property name="Gripper_jaw_1_rpy" value="${jaw_dict['lens_jaw_3_mm_1']['rpy']}"/>
      <xacro:property name="Gripper_jaw_1_mass" value="${jaw_dict['lens_jaw_3_mm_1']['mass']}"/>
      <xacro:property name="Gripper_jaw_1_inertia_ixx" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_ixx']}"/>
      <xacro:property name="Gripper_jaw_1_inertia_ixy" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_ixy']}"/>
      <xacro:property name="Gripper_jaw_1_inertia_ixz" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_ixz']}"/>
      <xacro:property name="Gripper_jaw_1_inertia_iyy" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_iyy']}"/>
      <xacro:property name="Gripper_jaw_1_inertia_iyz" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_iyz']}"/>
      <xacro:property name="Gripper_jaw_1_inertia_izz" value="${jaw_dict['lens_jaw_3_mm_1']['inertia_izz']}"/>
      <xacro:property name="Gripper_jaw_1_visual_filename" value="${jaw_dict['lens_jaw_3_mm_1']['visual_filename']}"/>
      <xacro:property name="Gripper_jaw_1_collision_filename" value="${jaw_dict['lens_jaw_3_mm_1']['collision_filename']}"/>


      <xacro:property name="Gripper_jaw_2_xyz" value="${jaw_dict['lens_jaw_3_mm_2']['xyz']}"/>
      <xacro:property name="Gripper_jaw_2_rpy" value="${jaw_dict['lens_jaw_3_mm_2']['rpy']}"/>
      <xacro:property name="Gripper_jaw_2_mass" value="${jaw_dict['lens_jaw_3_mm_2']['mass']}"/>
      <xacro:property name="Gripper_jaw_2_inertia_ixx" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_ixx']}"/>
      <xacro:property name="Gripper_jaw_2_inertia_ixy" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_ixy']}"/>
      <xacro:property name="Gripper_jaw_2_inertia_ixz" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_ixz']}"/>
      <xacro:property name="Gripper_jaw_2_inertia_iyy" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_iyy']}"/>
      <xacro:property name="Gripper_jaw_2_inertia_iyz" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_iyz']}"/>
      <xacro:property name="Gripper_jaw_2_inertia_izz" value="${jaw_dict['lens_jaw_3_mm_2']['inertia_izz']}"/>
      <xacro:property name="Gripper_jaw_2_visual_filename" value="${jaw_dict['lens_jaw_3_mm_2']['visual_filename']}"/>
      <xacro:property name="Gripper_jaw_2_collision_filename" value="${jaw_dict['lens_jaw_3_mm_2']['collision_filename']}"/>
    </xacro:if>


    <!--%%%%%%%%%%%%% The parameters here are interchangeable %%%%%%%%%%%%%-->
    <!--%%%%%%%%%%%%% Jaw 1 Definitions %%%%%%%%%%%%%-->
    <link
      name="Tool_Gripper_MPG_10_Jaw_1_changeable">
      <inertial>
        <origin
          xyz="${Gripper_jaw_1_xyz}"
          rpy="${Gripper_jaw_1_rpy}"/>
        <mass
          value="${Gripper_jaw_1_mass}"/>
        <inertia
          ixx="${Gripper_jaw_1_inertia_ixx}"
          ixy="${Gripper_jaw_1_inertia_ixy}"
          ixz="${Gripper_jaw_1_inertia_ixz}"
          iyy="${Gripper_jaw_1_inertia_iyy}"
          iyz="${Gripper_jaw_1_inertia_iyz}"
          izz="${Gripper_jaw_1_inertia_izz}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/Jaws/${Gripper_jaw_1_visual_filename}" />      
        </geometry>
        <material
          name="">
          <color
            rgba="0.780392156862745 0.76078431372549 0.741176470588235 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/Jaws/${Gripper_jaw_1_visual_filename}" />     
        </geometry>
      </collision>
    </link>

    <gazebo reference="Tool_Gripper_Jaw_1">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <joint
      name="Tool_Gripper_MPG_10_Jaw_1_changeable_Joint"
      type="fixed">
      <!-- This needs to be corrected in Solidworks -->
      <origin
        xyz="0.002 0 0 "
        rpy="0 0 0" />
      <parent
        link="Tool_Gripper_MPG_10_Jaw_1_Point" />
      <child
        link="Tool_Gripper_MPG_10_Jaw_1_changeable" />
    </joint>

    <!--%%%%%%%%%%%%% Jaw 2 Definitions %%%%%%%%%%%%%-->

    <link
      name="Tool_Gripper_MPG_10_Jaw_2_changeable">
      <inertial>
        <origin
          xyz="${Gripper_jaw_2_xyz}"
          rpy="${Gripper_jaw_2_rpy}"/>
        <mass
          value="${Gripper_jaw_2_mass}"/>
        <inertia
          ixx="${Gripper_jaw_2_inertia_ixx}"
          ixy="${Gripper_jaw_2_inertia_ixy}"
          ixz="${Gripper_jaw_2_inertia_ixz}"
          iyy="${Gripper_jaw_2_inertia_iyy}"
          iyz="${Gripper_jaw_2_inertia_iyz}"
          izz="${Gripper_jaw_2_inertia_izz}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/Jaws/${Gripper_jaw_2_visual_filename}" />      
        </geometry>
        <material
          name="">
          <color
            rgba="0.780392156862745 0.76078431372549 0.741176470588235 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find pm_robot_description)/meshes/Tools/MPG_10_plus/Jaws/${Gripper_jaw_2_visual_filename}" />     
        </geometry>
      </collision>
    </link>

    <gazebo reference="Tool_Gripper_MPG_10_Jaw_2_changeable">
      <turnGravityOff>true</turnGravityOff>
    </gazebo>

    <joint
      name="Tool_Gripper_MPG_10_Jaw_2_changeable_Joint"
      type="fixed">
      <!-- This needs to be corrected in Solidworks -->
      <origin
        xyz="0.002 0  0 "
        rpy="1.5708 0 0" />
      <parent
        link="Tool_Gripper_MPG_10_Jaw_2_Point" />
      <child
        link="Tool_Gripper_MPG_10_Jaw_2_changeable" />
    </joint>

</xacro:macro>

</robot>
