<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:macro name="SPT_Vacuumtool" params="use_R_A1000_I500:=false">
        <!--%%%%%%%%%%%%% SPT-Vacuumgripper Definitions %%%%%%%%%%%%%-->
        <link name="Tool_Schunk_SPT_Toolholder">
            <inertial>
                <origin
                    xyz="-1.29186788957441E-21 7.60244056032738E-20 0.00881061215391388"
                    rpy="0 0 0" />
                <mass
                    value="0.000106303297474693" />
                <inertia
                    ixx="2.11600644479187E-09"
                    ixy="8.13665451291654E-43"
                    ixz="6.03059354626119E-28"
                    iyy="2.11600644479187E-09"
                    iyz="1.8508053225459E-26"
                    izz="1.3734100235101E-10" />
                </inertial>
                <visual>
                <origin
                    xyz="0 0 0"
                    rpy="0 0 0" />
                <geometry>
                    <mesh filename="file://$(find pm_robot_description)/meshes/Tools/SPT_Vacuumtools/Tool_Schunk_Holder_SPT.STL" />
                </geometry>
                <material name="orange"/>
                </visual>
                <collision>
                <origin
                    xyz="0 0 0"
                    rpy="0 0 0" />
                <geometry>
                    <mesh filename="file://$(find pm_robot_description)/meshes/Tools/SPT_Vacuumtools/Tool_Schunk_Holder_SPT.STL" />
                </geometry>
                </collision>
            </link>

        <!---Gravity off-->
        <gazebo reference="Tool_Schunk_SPT_Toolholder">
            <turnGravityOff>true</turnGravityOff>
            <color>1.0 0 0.5 1.0</color>
        </gazebo>

        <joint name="Tool_Schunk_SPT_Toolholder_Joint" type="fixed">
            <!-- <origin xyz="0 0 -0.06" rpy="0 0 0" /> -->
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="PM_Robot_Tool_TCP" />
            <child link="Tool_Schunk_SPT_Toolholder" />
            <axis xyz="0 0 0" />
        </joint>

        <!--
        %%%%%%%%%%%%% SPT-Vacuumgripper Tool Link Definitions %%%%%%%%%%%%%
        <link name="Tool_SPT_base_link">
        </link>

        <joint name="Tool_SPT_base_link_joint" type="fixed">
            <origin xyz="0 0 -0.012" rpy="0 0 0" />

            <parent link="Tool_Schunk_SPT_Toolholder" />
            <child link="Tool_SPT_base_link" />
            <axis xyz="0 0 0" />
        </joint
        -->


        <!--%%%%%%%%%%%%% SPT Tool Definitions %%%%%%%%%%%%%-->
        <xacro:if value="${use_R_A1000_I500}">

            <!--%%%%%%%%%%%% Tool_TCP_SPT_R_A1000_I500 %%%%%%%%%%%%%-->
            <link name="Tool_SPT_changeable">
                <inertial>
                    <origin
                        xyz="-1.29186788957441E-21 7.60244056032738E-20 0.00881061215391388"
                        rpy="0 0 0" />
                    <mass
                        value="0.000106303297474693" />
                    <inertia
                        ixx="2.11600644479187E-09"
                        ixy="8.13665451291654E-43"
                        ixz="6.0305935462612E-28"
                        iyy="2.11600644479187E-09"
                        iyz="1.8508053225459E-26"
                        izz="1.3734100235101E-10" />
                    </inertial>
                    <visual>
                    <origin
                        xyz="0 0 0"
                        rpy="0 0 0" />
                    <geometry>
                        <mesh filename="file://$(find pm_robot_description)/meshes/Tools/SPT_Vacuumtools/Tools/Tool_TCP_SPT_R_A1000_I500.STL" />
                    </geometry>
                    <material name="grey"/>
                </visual>
                <collision>
                    <origin xyz="0 0 0" rpy="0 0 0" />
                    <geometry>
                        <mesh filename="file://$(find pm_robot_description)/meshes/Tools/SPT_Vacuumtools/Tools/Tool_TCP_SPT_R_A1000_I500.STL" />
                    </geometry>
                </collision>
            </link>

            <!--Gravity off-->
            <gazebo reference="Tool_SPT_changeable">
                <turnGravityOff>true</turnGravityOff>
                <color>1.0 0 0.5 1.0</color>
            </gazebo>

            <joint name="Tool_SPT_changeable_joint" type="fixed">
                <origin xyz="0 0 0" rpy="0 0 0" />
                <parent link="PM_Robot_Tool_TCP" />
                <child link="Tool_SPT_changeable" />
                <axis xyz="0 0 0" />
            </joint>
        </xacro:if>
    </xacro:macro>

</robot>
