<?xml version="1.0" encoding="utf-8"?>

<robot name="pm_robot"
  xmlns:xacro="https://ros.org/wiki/xacro">

    <ros2_control name="PMGripperInterface" type="system">
        <hardware>
            <plugin>pm_smaract_gripper_interface/PMGripperInterface</plugin>
        </hardware>
    </ros2_control>

</robot>
