<?xml version="1.0" encoding="utf-8"?>
<robot
  name="pm_robot">

  <transmission name="x_axis_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="X_Axis_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="X_Axis">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="y_axis_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Y_Axis_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Y_Axis">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="z_axis_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Z_Axis_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Z_Axis">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>
  
  <transmission name="gripper_rot_plate_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Gripper_Rot_Plate_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Gripper_Rot_Plate">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>  

  <transmission name="glue_cartridge_flap_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Glue_Cartridge_Flap_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Glue_Cartridge_Flap_Plate">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="glue_cartridge_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Glue_Cartridge_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Glue_Cartridge">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="eq_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="EQ_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="EQ">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>  

  <transmission name="gonio_right_stage_1_upper_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Gonio_Right_Stage_1_Upper_joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Gonio_Right_Stage_1_Upper">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>  

  <transmission name="gonio_right_stage_2_upper_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Gonio_Right_Stage_2_Upper_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Gonio_Right_Stage_2_Upper">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>  

  <transmission name="camera_calibartion_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Camera_Calibartion_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Camera_Calibration">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>  

  <transmission name="gonio_left_stage_1_upper_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Gonio_Left_Stage_1_Upper_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Gonio_Left_Stage_1_Upper">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>  

  <transmission name="gonio_left_stage_2_upper_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="Gonio_Left_Stage_2_Upper_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="Gonio_Left_Stage_2_Upper">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission> 

  <transmission name="uv_cart_left_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="UV_Cart_Left_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="UV_Cart_Left">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission> 

  <transmission name="uv_module_left_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="UV_Module_Left_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="UV_Module_Left">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission> 

  <transmission name="uv_cart_right_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="UV_Cart_Right_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="UV_Cart_Right">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission> 

  <transmission name="uv_module_right_transmission">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="UV_Module_Right_Joint">
      <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
    </joint>
    <actuator name="UV_Module_Right">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission> 



  <gazebo>
    <plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
      <!-- <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType> -->
      <robotNamespace>/match_pm_robot</robotNamespace>
    </plugin>
  </gazebo>

</robot>
