<?xml version="1.0"?>

<robot name="pm_robot">

    <ros2_control name="GazeboSystem" type="actuator">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        
        <joint name="Tool_Gripper_MPG_10_3mm_Lens_Jaw_1_Joint">
            <command_interface name="position">
            </command_interface>
            <state_interface name="position"/>
        </joint>

        <joint name="Tool_Gripper_MPG_10_3mm_Lens_Jaw_2_Joint">
            <command_interface name="position">
            </command_interface>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
<!--
    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find pm_robot_description)/config/control_gripper.yaml</parameters>
        </plugin>
    </gazebo>
-->
</robot> 