<?xml version="1.0" encoding="utf-8"?>

<robot name="pm_robot"
  xmlns:xacro="https://ros.org/wiki/xacro">

  <!-- Configurations -->
  <xacro:include filename="$(find pm_robot_description)/urdf/materials.xacro" />

  <xacro:arg name="with_Gonio_Left"                 default="true" />
  <xacro:arg name="with_Gonio_Right"                default="true" />
    <!-- Tools -->
    <xacro:arg name="with_Tool_MPG_10"                default="false" />
    <xacro:arg name="with_Tool_MPG_10_Jaw_3mm_Lens"   default="false"/>
    <xacro:arg name="with_Tool_SPT_Holder"            default="false" />
    <xacro:arg name="with_SPT_R_A1000_I500"           default="false"/>

  <xacro:include filename="$(find pm_robot_description)/urdf/pm_robot.xacro" />

  <!-- Tool Defines-->
    <xacro:if value="$(arg with_Tool_MPG_10)">
      <xacro:include filename="$(find pm_robot_description)/urdf/pm_Schunk_Tools/MPG_10_plus.xacro" />
      <xacro:mpg_10_plus use_three_mm_lens="$(arg with_Tool_MPG_10_Jaw_3mm_Lens)" />
    </xacro:if>

    <xacro:if value="$(arg with_Tool_SPT_Holder)">
      <xacro:include filename="$(find pm_robot_description)/urdf/pm_Schunk_Tools/SPT_Vacuumtool.xacro" />
      <xacro:SPT_Vacuumtool use_R_A1000_I500="$(arg with_SPT_R_A1000_I500)" />
    </xacro:if>

    <!-- Gonio Right Defines-->
    <xacro:if value="$(arg with_Gonio_Right)">
      <xacro:include filename="$(find pm_robot_description)/urdf/pm_robot_gonio_right.xacro" /> 
    </xacro:if>

    <!-- Gonio Right Defines-->
    <xacro:if value="$(arg with_Gonio_Left)">
      <xacro:include filename="$(find pm_robot_description)/urdf/pm_robot_gonio_left.xacro" /> 
    </xacro:if>

  <xacro:include filename="$(find pm_robot_description)/urdf/ros2_control.xacro" />
  <!--xacro:include filename="$(find pm_robot_description)/urdf/MPG_10_plus_control.xacro" /-->
  <xacro:include filename="$(find pm_robot_description)/urdf/sensors.urdf" />

</robot>
