<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="X_Axis_Joint">
            <command_interface name="position">
                <param name="min">-10000</param>
                <param name="max">10000</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="Y_Axis_Joint">
            <command_interface name="position">
                <param name="min">-10000</param>
                <param name="max">10000</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
        <joint name="Z_Axis_Joint">
            <command_interface name="position">
                <param name="min">-10000</param>
                <param name="max">10000</param>
            </command_interface>
            <state_interface name="position"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find pm_robot_description)/config/control.yaml</parameters>
        </plugin>
    </gazebo>


</robot>
